DISCORD_TOKEN=your_discord_bot_token_here
CHANNEL_ID=your_channel_id_here

# Messages
THURSDAY_EVEN_MESSAGE=Les Incursions Quantiques sont sur le point de commencer ! On se prépare !
THURSDAY_ODD_MESSAGE=Les Champs de Bataille sont sur le point de commencer ! On se prépare !
TUESDAY_MESSAGE=L'EG a commencé ! Ne perdez pas de temps !
SUNDAY_MESSAGE=Pensez à finir votre EG pour bénéficer de toutes les récompenses et surtout de votre Temple oublié ! 